<style>
    body{
        background-image: url(/img/sonrisaEmoji.jpg);
    } 
</style>

<div class="container p-5 my-5 bg-dark text-white mx-auto">
    <span><strong>Escapaste @ViewBag.nombre!</strong></span>
    <br>
    <img src="/img/sonrisaEmoji.jpg" class="img-fluid" alt="sonrisa">
    <span>Te equivocaste <strong>@ViewBag.CantErrores</strong> veces!, y tardaste @ViewBag.minutos minutos con @ViewBag.segundos segundos</span>
</div>