<div class="container p-5 my-5 bg-dark text-white mx-auto">
    <span><strong>Escapaste!</strong></span>
    <br>
    <img src="/img/sonrisa.jpg" alt="sonrisa">
    <span>Te equivocaste <strong>@ViewBag.CantErrores</strong> veces!</span>
</div>